.dashBoard {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  margin: 10px;
  color: white;
  width: auto;
}
.dashButtons {
  margin-top: 5px;
  margin-bottom: 5px;
}

.chatHolder {
  /* background-color: blueviolet; */
  height: 300px;
  overflow-y: scroll;
}

.chatHolder div {
  margin-top: 20px;
}

.oUser {
  /* background-color: red; */
  padding: 5px;
}

.sUser {
  /* background-color: palevioletred; */
  padding: 5px;
  text-align: right;
}

.msgCard {
  color: black;
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.timestampChat {
  display: block;
  font-size: small;
  font-weight: 100;
}
