body {
  background-image: url("/public/wave\ \(1\).svg");
  background-attachment: fixed;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Navlinkbtn {
  text-decoration: none;
}

.nav-btn-kapu button {
  margin-left: 10px;
  margin-right: 10px;
}
